.dashboard-container {
  padding: 30px;
}

.user-card,
.records-card {
  margin-bottom: 20px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}